body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

select {
  min-width: fit-content;
}

.centered {
  display: flex;
  justify-content: center;
}

.volume-container {
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.button-container {
  gap: 0.5em;
}

#duration-select {
  width: 10%;
}

#interval-select {
  width: 10%;
}

.padded-container {
  width: 50%;
  height: 2em;
  display: flex;
  justify-content: center;
}

#timer {
  margin-bottom: 0;
  font-size: 16px;
}

#spotify {
  width: 100%;
}

@keyframes breatheInAnimation {
  0% { font-size: 18px; }
  100% { font-size: 24px; }
}

@keyframes breatheOutAnimation {
  0% { font-size: 24px; }
  100% { font-size: 18px; }
}

.inhale {
  animation: breatheInAnimation 4s forwards;
}

.exhale {
  animation: breatheOutAnimation 4s forwards;
}

@media (max-width: 550px) {
  .settings-container {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
}

/* Media query reserved for the smallest possible screens */
/* @media (max-width: 265px) {

} */
