/* Breathe In animation */
@keyframes breatheInAnimation {
  0% { font-size: 16px; opacity: 1; }
  100% { font-size: 24px; opacity: 1; }
}

/* Breathe Out animation */
@keyframes breatheOutAnimation {
  0% { font-size: 24px; opacity: 1; }
  100% { font-size: 16px; opacity: 1; }
}


.inhale {
  animation: breatheInAnimation 3s forwards;
}

.exhale {
  animation: breatheOutAnimation 3s forwards;
}
